// All component Sass needs non-printing base config
@import '../../00-protons/variables';
@import '../../01-atoms/icon/scss/icons-generated';
@import '../../01-atoms/icon/scss/icon-mixins';
// Accordion contains both Bootstrap Card and Collapse.
// To change default bootstrap variables, SEE ~bootstrap/scss/variables
// Add bootstrap variables here
//$card-border-width: 1px;
// Add custom code here
/*
  Accordion tabs that have not been created using Javascript
*/

/* clearfix */
.ckeditor-accordion-container > dl:before,
.ckeditor-accordion-container > dl:after {
    content: " ";
    display: table;
}

.ckeditor-accordion-container > dl:after {
    clear: both;
}

.ckeditor-accordion-container > dl {
    position: relative;
}

/* label / tab */
.ckeditor-accordion-container > dl dt {
    position: relative;
    font-weight: 400;
}

.ckeditor-accordion-toggle {
    @include icon('plus-sign');
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: $spacer * 1.2;
    right: 11px;
    padding: 0 10px;
    width: 30px;
    height: 30px;
    font-size: $font-size-xs;
    pointer-events: none;
}

dt.active .ckeditor-accordion-toggle {
    @include icon('minus-sign');
}

.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:after {
    display: none;
}

.ckeditor-accordion-container > dl dt > a {
    display: block;
    padding: $spacer $spacer-lg $spacer $spacer-lg;
    border-bottom: 2px solid white;
    font-size: $font-size-base;
    color: $bu-cadet;
    text-decoration: none;
    background-color: $bu-gainsboro;

    .bg-bu-anti-flash-white & {
        border-color: $bu-anti-flash-white;
        color: $bu-cadet;
        background-color: $white;
    }
}

.ckeditor-accordion-container > dl dt > a:hover {
    text-decoration: none;
    background-color: $bu-anti-flash-white;

    .bg-bu-anti-flash-white & {
        color: $bu-cadet;
        background-color: $white;
    }
}

.ckeditor-accordion-container > dl dt.active > a {
    border-bottom-width: 0;
    background-color: $bu-anti-flash-white;

    .bg-bu-anti-flash-white & {
        color: $bu-cadet;
        background-color: $white;
    }
}

.ckeditor-accordion-container > dl dt:last-of-type > a {
    border-bottom: 0;
}

/* contents */
.ckeditor-accordion-container > dl dd {
    display: none;
    margin: 0;
    padding: $spacer-md $spacer-xl;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    font-size: $font-size-sm;
    color: $bu-cadet;
    background-color: $bu-anti-flash-white;

    .bg-bu-anti-flash-white & {
        border-color: $bu-anti-flash-white;
        color: $bu-manatee;
        background-color: $white;
    }
}