{#
/**
 * @file
 * slider
 *
 * Available variables for slider:
 *    - slider.picture [object]: Responsive Drupal responsive image
 *    - slider.card  [object]: Drupal Card (grey)
 */
#}

<div class="slider__slide {{ slide_other_classes }}">
    {{ slide.picture }}
    {{ slide.card }}
</div>
