{#
/**
 * @file
 * intro
 *
 * Available variables for intro:
 *    - intro.title [String]: Page title
 */
#}

<section class="section module--xl-v section--intro contextual-region">
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="bg-bu-anti-flash-white">
        <div class="container container--md">
            <div class="row no-gutters justify-content-between bg-bu-anti-flash-white">
                <div class="col-12 col-md-7">
                    <h1 class="mb-3">{{ intro.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>