@import '../../00-protons/variables';
@import '../../01-atoms/icon/scss/icons-generated';
@import '../../01-atoms/icon/scss/icon-mixins';

// To change default bootstrap navbar variables,
// copy from ~bootstrap/scss/variables to here

$navbar-brand-font-size: $font-size-lg;

@import "~bootstrap/scss/navbar";

// Add custom code here
.navbar__logo {
    padding: $spacer 0;
    @include media-breakpoint-up(lg) {
        padding: 50px 130px 20px 0;
    }

    img {
        display: block;

        @include media-breakpoint-down(lg) {
            max-height: 47px;
        }
    }
}

.navbar {
    padding: 0 0 20px;
    border-bottom: 2px solid $bu-anti-flash-white;
    margin-bottom: -2px;

    @include media-breakpoint-down(md) {
        border-bottom: 1px solid $bu-anti-flash-white;
        margin: 0 0 20px;
        padding: 0;
    }

    .navbar-toggler[aria-expanded='true'] .icon {
        @include icon('close');
    }

    .navbar-toggler[aria-expanded='false'] .icon {
        @include icon('menu');
    }
}

.navbar-toggler {
    order: 3;
    padding: 1rem;
}

.navbar-collapse {
    align-self: flex-end;

    > .contextual {
        bottom: 0;
    }

    @include media-breakpoint-down(md) {
        order: 5;
        padding: $spacer * 1.5;
        background-color: $bu-indigo;
    }
}

// Fixed position after scroll
@include media-breakpoint-up(lg) {
    .navbar,
    .navbar__logo,
    .navbar__logo img,
    .nav--main {
        transition: all .2s;
    }

    .header--fixed {
        .navbar {
            border-bottom-width: 0;
            padding-bottom: $spacer-xs;
        }

        .navbar__logo {
            padding: 40px 130px 20px 0;
        }

        .navbar__logo img {
            max-height: 60px;
        }

        .nav--main {
            font-size: $font-size-base;
        }
    }
}

.search-toggler {
    background-color: $white;
    transition: transform 0.2s;

    @include media-breakpoint-down(md) {
        margin-left: auto;
    }

    @include media-breakpoint-up(lg) {
        margin-top: auto;
        transform: translateY(15px);
    }

    .header--fixed & {
        transform: none;
    }

    .icon::before {
        font-size: 22px;
    }
}

