<form class="subscribe-form" data-drupal-selector="subscribe-form" action="https://sum008.summit.nl/NHTV/reglink/745e5910-66cf-4392-b795-7c4741c1a504?language=nl-NL&_ga=2.240742726.437399689.1532955370-1934111938.1527508071" method="get" id="subscribe-form" accept-charset="UTF-8" data-drupal-form-fields="edit-email,edit-submit">
{#    <div class="js-form-item form-item js-form-type-email form-item-email js-form-item-email form-no-label">
        <input class="footer__input-email form-email required" data-drupal-selector="edit-email" type="email" id="edit-email" name="email" value="" size="60" maxlength="254" placeholder="E-mail adres:" required="required" aria-required="true" data-keeper-lock-id="k-m78regl19l">
    </div>#}
    <input class="footer__input-submit button--turquoise button js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Inschrijven">
    <input autocomplete="off" data-drupal-selector="form-onvu30m7ztsczzkskxpoim4tt8w0fzaznfzrhsa-yqe" type="hidden" name="form_build_id" value="form-ONVu30M7ZTscZZksKXpOiM4tt8w0fzaznFZRhsa-YqE">
    <input data-drupal-selector="edit-subscribe-form-form-token" type="hidden" name="form_token" value="kOT6DhGirF2hwLDk1OJONOTrZvyMTePvB-Xh2lMDIUI">
    <input data-drupal-selector="edit-subscribe-form" type="hidden" name="form_id" value="subscribe_form">
</form>