{#
/**
 * @file
 * search_result
 *
 * Available variables for search_result:
 *    - search_result.variable_name [variable_type]: Description of the variable. Example below.
 *    - search_result.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="training-overview">
    {% include '@atoms/breadcrumb/_breadcrumb.twig' %}
    {% include '@organisms/_search-result.twig' %}
</div>